<div class="jumbotron">
  <div class="row">
    <%= image_tag('ttheta.jpg', size: '115x150', style: 'display: table; margin: 0 auto; border-radius: 5px;') %>
  </div>
  <div class="row">
    <h2 style="text-align: center">Zeta Psi Presents...</h2>
    <h4 style="text-align: center">Tau Theta's 12th Annual Anniversary Banquet</h4>
  </div>
  <div class="row">
    <p>March 11 - 12, 2017</p>
    <a href="#" class="location" style="text-decoration: none;">Tosca Banquet Hall</a>
    <br>
    <a href="#" class="location" style="text-decoration: none;">Oshawa, ON</a>
  </div>
</div>

<div class="jumbotron" style="font-size: 18px">
  <div class="row">
    The Brothers of the Zeta Psi Fraternity Tau Theta Chapter invite you to an evening of celebration to
    commemorate our 12 year anniversary.  The night will be filled with great company, dinner, drinks and dancing.
    Cocktails start at 6pm and dinner will be served at 7pm.  There will also be a silent auction running throughout
    the evening.
  </div>
  <div class="row" style="margin-top: 20px;">
    Active and Elder tickets will be $60 and $75 respectively; We look forward to hosting
    you this year and celebrating 12 years of brotherhood at Tau Theta.
  </div>
  <div class="row" style="margin-top: 20px;">
    Tau Kappa Phi,
  </div>
  <div class="row">
    - The Banquet Staff
  </div>
  <div class="row">
    <h4><small style="color: black;">Dress Code: Black Tie Preferred</small></h4>
  </div>
  <div class="row" style="color: black; margin-top: 20px;">
    If you have any questions please contact <a href="mailto:zetapsi1847@gmail.com">your banquet commitee.</a>
  </div>
</div>

<div id="map" class="jumbotron" style="height: 400px; width: 100%;">
</div>

<div class="jumbotron">
  <h2>Purchase Your Tickets</h2>
  <div class="row">
    <span>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Active Ticket"
                data-amount="6000"
                data-label="Active Ticket"
                data-locale="auto"></script>
      <% end %>
    </span>
    <span>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Elder Ticket"
                data-amount="7500"
                data-label="Elder Ticket"
                data-locale="auto"></script>
      <% end %>
    </span>
    <span>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Elder Ticket + Dues"
                data-amount="22500"
                data-label="Elder Ticket + Dues"
                data-locale="auto"></script>
      <% end %>
    </span>
  </div>
</div>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: 43.8742923, lng: -78.8886865},
      scrollwheel: false
    });
    var geocoder = new google.maps.Geocoder();

    geocodeAddress(geocoder, map);
  }

  function geocodeAddress(geocoder, resultsMap) {
    var address = 'Tosca Banquet Hall';
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === 'OK') {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location,
          icon: "<%= ActionController::Base.helpers.asset_path('map-marker-icon.png') %>"
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU3Y1dluzVy2p_X48j8GRPbCzv1KFftxQ&callback=initMap">
</script>
